[package]
name = "starknet-rs"
version = "0.1.0"
edition = "2021"

[features]
default = ["with_mimalloc"]
with_mimalloc = ["mimalloc"]

[dependencies]
cairo-lang-starknet = { git = "https://github.com/starkware-libs/cairo" }
cairo-lang-casm = { git = "https://github.com/starkware-libs/cairo" }
cairo-vm = { git = "https://github.com/lambdaclass/cairo-rs", rev = "327ee7d6778bdab9573573e6af008fcc6041f9ad" }
getset = "0.1.2"
lazy_static = "1.4.0"
num-bigint = { version = "0.4", features = ["serde"] }
num-integer = "0.1.45"
num-traits = "0.2.15"
serde = { version = "1.0.152", features = ["derive"] }
serde_json = { version = "1.0", features = ["arbitrary_precision"] }
sha3 = "0.10.1"
starknet_api = { git = "https://github.com/lambdaclass/starknet-api", branch = "main", features = [
    "testing",
] }
starknet-crypto = "0.4.3"
thiserror = "1.0.32"
clap = { version = "4.1.8", features = ["derive"] }
actix-web = "4.3.1"
awc = "3.1.1"
mimalloc = { version = "0.1.29", default-features = false, optional = true }
hex = "0.4.3"
cargo-llvm-cov = "0.5.14"

starknet-contract-class = { path = "crates/starknet-contract-class" }

[dev-dependencies]
assert_matches = "1.5.0"
rusty-hook = "0.11"
coverage-helper = "0.1.0"

[workspace]
members = ["crates/starknet-contract-class", "fuzzer"]

[[bench]]
path = "bench/internals.rs"
name = "internals"
harness = false

[profile.release.package.fuzzer]
strip = "debuginfo"
overflow-checks = true
opt-level = 3
debug = true
debug-assertions = true
