[package]
name = "starknet-rs"
version = "0.1.0"
edition = "2021"

[dependencies]
cairo-rs = { git = "https://github.com/lambdaclass/cairo-rs", package = "cairo-vm", rev = "8dba86dbec935fa04a255e2edf3d5d184950fa22" }
felt = { git = "https://github.com/lambdaclass/cairo-rs", package = "cairo-felt", rev = "8dba86dbec935fa04a255e2edf3d5d184950fa22" }
getset = "0.1.2"
num-bigint = { version = "0.4", features = ["serde"] }
num-integer = "0.1.45"
num-traits = "0.2.15"
serde = { version = "1.0.152", features = ["derive"] }
lazy_static = "1.4.0"
serde_json = { version = "1.0", features = ["arbitrary_precision"] }
sha3 = "0.10.1"
starknet_api = { git = "https://github.com/lambdaclass/starknet-api", branch = "main", features = ["testing"] }
starknet-crypto = "0.2.0"
thiserror = { version = "1.0.32" }

[dev-dependencies]
assert_matches = "1.5.0"
rusty-hook = "0.11"
