[package]
name = "starknet_in_rust"
version = "0.1.0"
edition = "2021"
description = "A Rust implementation of Starknet execution logic"
license = "Apache-2.0"

[features]
default = ["with_mimalloc"]
with_mimalloc = ["mimalloc"]

[workspace]
members = ["crates/starknet-contract-class", "cli", "fuzzer"]

[workspace.dependencies]
cairo-vm = { version = "0.8.0", features = ["cairo-1-hints"]}
starknet_api = "0.1.0"

[dependencies]
cairo-lang-starknet = "1.1.0"
cairo-lang-casm = "1.1.0"
cairo-vm = { workspace=true, features = ["cairo-1-hints"]}
getset = "0.1.2"
lazy_static = "1.4.0"
num-bigint = { version = "0.4", features = ["serde"] }
num-integer = "0.1.45"
num-traits = "0.2.15"
serde = { version = "1.0.152", features = ["derive"] }
serde_json = { version = "1.0", features = ["arbitrary_precision", "raw_value"] }
sha3 = "0.10.1"
starknet_api = { workspace = true }
starknet-crypto = "0.5.1"
thiserror = "1.0.32"
awc = "3.1.1"
mimalloc = { version = "0.1.29", default-features = false, optional = true }
hex = "0.4.3"
cargo-llvm-cov = "0.5.14"
anyhow = "1.0.66"
starknet-contract-class = { path = "./crates/starknet-contract-class", version = "0.1.0" }
once_cell = "1.17.1"

[dev-dependencies]
assert_matches = "1.5.0"
coverage-helper = "0.1.0"

[[bench]]
path = "bench/internals.rs"
name = "internals"
harness = false
