name: rust-tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ '*' ]

env:
  CARGO_TERM_COLOR: always
  RUST_TOOLCHAIN: 1.67.0

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
          toolchain: ${{ env.RUST_TOOLCHAIN }}
          override: true
          components: rustfmt, clippy
    - uses: Swatinem/rust-cache@v2
      with:
        cache-on-failure: true
    - name: Checkout
      uses: actions/checkout@v3
    - name: Deps
      run: make deps
    - name: Build
      run: make build

  format:
    runs-on: ubuntu-20.04
    steps:
    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
          toolchain: ${{ env.RUST_TOOLCHAIN }}
          override: true
          components: rustfmt, clippy
    - uses: Swatinem/rust-cache@v2
      with:
        cache-on-failure: true
    - name: Checkout
      uses: actions/checkout@v3
    - name: Deps
      run: make deps
    - name: Format
      run: cargo fmt --all -- --check
    - name: Run clippy
      run: make clippy

  test:
    runs-on: ubuntu-20.04
    steps:
    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
          toolchain: ${{ env.RUST_TOOLCHAIN }}
          override: true
          components: rustfmt, clippy
    - uses: Swatinem/rust-cache@v2
      with:
        cache-on-failure: true
    - name: Checkout
      uses: actions/checkout@v3
    - name: Deps
      run: make deps
    - name: Run tests
      run: make test
  
  test-py:
    runs-on: ubuntu-20.04
    steps:
    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
          toolchain: ${{ env.RUST_TOOLCHAIN }}
          override: true
          components: rustfmt, clippy
    - uses: Swatinem/rust-cache@v2
      with:
        cache-on-failure: true
    - name: Checkout
      uses: actions/checkout@v3
    - name: Deps
      run: make deps
    - name: Run rs-py tests
      run: make test-py

  coverage:
    runs-on: ubuntu-20.04
    steps:
    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
          toolchain: ${{ env.RUST_TOOLCHAIN }}
          override: true
          components: rustfmt, clippy
    - uses: Swatinem/rust-cache@v2
      with:
        cache-on-failure: true
    - name: Checkout
      uses: actions/checkout@v3
    - name: Deps
      run: make deps
    - name: Coverage
      run: make coverage
    - name: Upload coverage to codecov.io
      uses: codecov/codecov-action@v3
      with:
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
